<div class="t4s-product-img t4s_ratio" {{ imgatt }}style="--aspect-ratioapt: {{ image.aspect_ratio | default: 1 }}">
    <img data-pr-img class="t4s-product-main-img lazyloadt4s" loading="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image | image_url: width: 1 }}" data-widths="[100,200,330,400,500,600,700,800,900]" data-optimumx="2" data-sizes="auto" width="{{ image.width }}" height="{{ image.height }}" alt="{% if image.alt %}{{ image.alt | escape }}{% else %}{{ shop.name }}{% endif %}">
    <span class="lazyloadt4s-loader" role="presentation"></span>
    <div data-replace-img2></div>
    <noscript><img data-wpsob="1" data-wpsob-height="1" height="1" data-wpsob-width="1" width="1" class="t4s-product-main-img" loading="lazy" src="{{ image | image_url: width: 600 }}"  alt="{% if image.alt %}{{ image.alt | escape }}{% else %}{{ shop.name }}{% endif %}"></noscript>
</div>